
       body {
    /* Background image layer */
         background-image:  linear-gradient(
         rgba(255, 255, 255, 0.4),
         rgba(255, 255, 255, 0.8)
    ),

         url("assets/bg.png");
         background-repeat: no-repeat;
         background-position: top right;
         background-size: 100%;
         --accent-green-text: #22c55e;
                   

    }


     * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: 'Inter', sans-serif;
                               overflow-x: hidden;

        }

      body {
          display: flex;
          flex-direction:  column;
          align-items: center;
          min-height: 100vh;
          padding: 40px 20px;
        }

        /* 2. Navigation Styling */
      nav {
          display: flex;
          align-items: center;
          padding: 8px 8px 8px 0px;
          border: 1px solid rgba(255, 255, 255, 0.3);
          background: rgba(255, 255, 255, 0.2);
          border-radius: 16px;
          border: 1px solid black;
          -webkit-backdrop-filter: blur(10px);
          box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
          margin-bottom: 80px;
          position: sticky;
          border-outline: none;
          top: 20px;
          z-index: 100;
        }

    .nav-links {
         display: flex;
         align-items: center;
        }

    .nav-links a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 16px;
        height: 24px;
        text-decoration: none;
        border-right: 1px solid var(--border-color); /* The vertical divider */
        transition: opacity 0.2s ease;
        }

        /* Remove border from the last icon link so it doesn't touch the Resume button */
        .nav-links a:last-child {
            border-right: 1px solid var(--border-color); 
            margin-right: 4px;
        }

        .nav-icon {
            width: 28px;  /* Matches standard icon sizing */
            height: 42px;
            object-fit: contain;
        }


        .nav-icon1 {
            width: 38px;  /* Matches standard icon sizing */
            height: 42px;
            object-fit: contain;
        }


        .nav-icon2 {
            width: 38px;  /* Matches standard icon sizing */
            height: 42px;
            object-fit: contain;
        }

        .nav-links a:hover {
            opacity: 0.5;
        }

        .blog-btn {
            background: black;
            color: white;
            padding: 12px 28px;
            border-radius: 12px;
            text-decoration: none;
            font-weight: 600;
            font-size: 14px;
            transition: transform 0.2s ease;
        }

        .blog-btn:hover {
            transform: scale(1.02);
        }

        /* 3. Hero Section */
        .hero {
            max-width: 700px;
            width: 100%;
            text-align: left;
        }

        .avatar-container {
            width: 110px;
            height: 110px;
            border-radius: 50%;
            background: #6d4aff; /* Purple bg from screenshot */
            margin-bottom: 30px;
            overflow: hidden;
            display: flex;
            align-items: flex-end; /* Aligns character to bottom */
            justify-content: center;
 
        }

        .avatar-container img {
            width: 100%;
            height: auto;

        }

        h1 {
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.1;
            margin-bottom: 20px;
            letter-spacing: -0.02em;





           opacity: 0;
           transform: translateY(40px);

  
           animation: slideUp 0.9s forwards;
           animation-delay: calc(var(--i) * 0.15s);

  
        }

        .hero p {
            font-size: 15px;
            font-weight: 600;
            color: var(--text-muted);
            line-height: 1.6;
            margin-bottom: 10px;



            opacity: 0;
           transform: translateY(40px);

  
           animation: slideUp 0.9s forwards;
           animation-delay: calc(var(--i) * 0.15s);

  
        }

        .cta-group {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        .hire-btn {
            background: black;
            color: white;
            padding: 16px 32px;
            border-radius: 14px;
            text-decoration: none;
            font-weight: 600;
            font-size: 16px;
        }


          html {
             scroll-behavior: smooth; /* makes scroll smooth */
        }

          .status-link {
               text-decoration: none; /* remove underline */
               color: inherit;        /* keep original color */
               display: inline-block;
        }

         .status-badge {
              cursor: pointer;       /* shows pointer on hover */
       }





             
        .status-badge {
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid black;
            background-color:white;
            color: #166534; /* Darker green for text */
            padding: 16px 24px;
            border-radius: 10px;
            font-weight: 600;
            font-size: 15px;
            cursor: pointer;

        }

        .status-dot {
            width: 8px;
            height: 8px;
            background-color: var(--accent-green-text);
            border-radius: 150%;
            animation: pulse 2s infinite;
        }


         .stack-section {
              padding: 80px 20px;
        }

        .stack-container {
            max-width: 900px;
            margin: auto;
            text-align: center;

         }


         .stack-title {
             font-size: 20px;
             margin-bottom: 9px;
             color: black;
             font-weight: 600;
        }

        .stack-title span {
            color: #22c55e;
        }


        .stack-grid {
           display: flex;
           gap: 24px;
           justify-content: center;
          flex-wrap: wrap;
       }


        .stack-card {
           background: rgba(255, 255, 255, 0.05);
           backdrop-filter: blur(10px);
           border-radius: 18px;
           display: flex;
           flex-direction: column;
           align-items: center;
           justify-content: center;
           gap: 14px;


           opacity: 0;
           transform: translateY(40px);

  
           animation: slideUp 0.6s forwards;
           animation-delay: calc(var(--i) * 0.15s);

  
         }


        .stack-card:hover {
            transform: translateY(-8px);
            box-shadow: 0 12px 30px rgba(34, 197, 94, 0.3);
        }


        .stack-icon img {
           width: 40px;
           height: 30px;
        }




       .stack-name {
          color: #e5e7eb;
          font-size: 0.9rem;
        }


       @keyframes slideUp {
          to {
            opacity: 1;
            transform: translateY(0);
       }
     }


      @media (max-width: 768px) {
        .stack-card {
           width: 140px;
           height: 140px;
       }
    }

      @media (max-width: 480px) {
         .stack-grid {
            gap: 16px;
      }

       .stack-card {
         width: 100px;
        height: 90px;
    }
    }



      .about-title span {
          color: #9ca3af;
      }



   .about{
      max-width: 750px;
      padding: 20px;
      margin-top:20px;
      margin-left: center;


      opacity: 0;
           transform: translateY(40px);

  
           animation: slideUp 0.9s forwards;
           animation-delay: calc(var(--i) * 0.15s);
      
    }

    .about-text {
       margin-bottom: 20px;
       font-size: 15px;



       opacity: 0;
           transform: translateY(40px);

  
           animation: slideUp 0.9s forwards;
           animation-delay: calc(var(--i) * 0.15s);

  
   }



    .polaroid-container {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-bottom: 2px;
        margin-top: 30px;
 
    }

     .polaroid {
        background: white;
        padding: 15px 15px 30px;
        width: 220px;
        box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
        border-radius: 6px;
        text-align: center;
        transition: transform 0.3s ease;
    }

      .polaroid img {
        width: 100%;
        height: 260px;
        object-fit: cover;
        border-radius: 4px;
    }

      .polaroid p {
        margin-top: 12px;
        font-weight: 600;
        font-size: 14px;
    }

      .polaroid.left {
         transform: rotate(-8deg);
    }

       .polaroid.right {
          transform: rotate(6deg);
    }

    .polaroid:hover {
        transform: rotate(0deg) scale(1.05);
    }







 .project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  margin-top: 3rem;
}



.project-card {
  background: rgba(15, 23, 42, 0.8);
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 50px rgba(0,0,0,0.4);
}


.project-img {
  height: 200px;
  background-size: cover;
  background-position: center;
  background-color: #1e293b; /* fallback */
}



.section-title{
    text-align: center;
}


.project-info {
  padding: 1.5rem;
}

.project-info h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: #fff;
}

.project-info p {
  font-size: 0.95rem;
  color: #94a3b8;
  margin-bottom: 1rem;
}


.project-links {
  display: flex;
  gap: 1rem;
}

.project-links a {
  font-size: 0.85rem;
  color: #22c55e;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
}

.project-links a:hover {
  text-decoration: underline;
}





.hidden-project {
  display: none;
}

.view-more-btn {
  margin: 3rem auto 0;
  display: block;
  padding: 0.8rem 2.2rem;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 999px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
}

.view-more-btn:hover {
  background: #222;
  transform: translateY(-2px);
}




/* SECTION */
.contact-section {
  background: #ffffff;
  color: #000000;
  padding: 4rem 1.5rem;


}

.contact-section .section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* CONTAINER */
.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

/* INFO CARDS */
.contact-info {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}

.info-card h3 {
  font-size: 1.1rem;
  font-weight: 700;
}

.info-card a {
  color: #000;
  text-decoration: none;
  font-size: 0.95rem;
}

.info-card a:hover {
  text-decoration: underline;
}

/* FORM STYLES */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.9rem;
  margin-bottom: 1rem;
  border: 1px solid #d1d5db;
  border-radius: 8px;
  font-size: 0.95rem;
}

.contact-form button {
  width: 100%;
  padding: 1rem 0;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 999px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s ease;
}

.contact-form button:hover {
  background: #222;
}

/* RESPONSIVE */
@media (max-width: 1768px ) {
  .contact-container {
    grid-template-columns: 1fr;
  }
}


.footer {
  background: #ffffff;
  border-top: 1px solid #e5e7eb;
  padding: 2rem 1rem;
  text-align: center;
}

.footer p {
  font-size: 0.85rem;
  color: #6b7280;
  margin-bottom: 1rem;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
}

.footer-icons a {
  color: #000000;
  font-size: 1.1rem;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.footer-icons a:hover {
  transform: translateY(-3px);
  opacity: 0.7;
}







